In [1]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
with open("magicbricksdataset.html" , "r" ,encoding="utf-8") as f:
    html=f.read()

In [3]:
soup=BeautifulSoup(html,"lxml")

In [4]:
contuners=(soup.find_all("div",{"class":"mb-srp__list"}))

In [5]:
location = []
carpet_area = []
status =[]
transaction=[]
urnishing=[]
society=[]
bathroom=[]
amount=[]


for i in contuners:
    location.append(i.find("h2").text)
   
    carpet_area.append(i.find("div",{"class":"mb-srp__card__summary--value"}).text)
    try:
      status.append(i.find('div', {'class': 'mb-srp__card__summary__list--item', 'data-summary': 'status'}).text)
    except:
      status.append(np.nan)
    try:
      transaction.append(i.find('div', {'class': 'mb-srp__card__summary__list--item', 'data-summary': 'transaction'}).text)
    except:
      transaction.append(np.nan)
    try:
      urnishing.append(i.find('div', {'class': 'mb-srp__card__summary__list--item', 'data-summary': 'furnishing'}).text)
    except:
     urnishing.append(np.nan)
    try:
      society.append(i.find('div', {'class': 'mb-srp__card__summary__list--item', 'data-summary': 'society'}).text)
    except:
      society.append(np.nan)
    try:
      bathroom.append(i.find('div', {'class': 'mb-srp__card__summary__list--item', 'data-summary': 'bathroom'}).text)
    except:
      bathroom.append(np.nan)
   
    try:
      amount.append(i.find('div',{"class":"mb-srp__card__price--amount"}).text)
    except:
      amount.append(np.nan)

In [6]:
df=pd.DataFrame({
    "location":location,
    "carpet_area":carpet_area,
    "status":status,  
    "transaction":transaction,
    "urnishing":urnishing,
    "society":society,
    "bathroom":bathroom,
    "amount":amount
    
})

In [7]:
df.head(10)

,location,carpet_area,status,transaction,urnishing,society,bathroom,amount
0,"3 BHK Flat for Sale in Riverdale Grove, Kharad...",1190 sqft,Under ConstructionPoss. by Jun '26,TransactionNew Property,FurnishingUnfurnished,SocietyRiverdale Grove,Bathroom3,₹1.65 Cr
1,"2 BHK Flat for Sale in Riverdale Grove, Kharad...",652 sqft,Under ConstructionPoss. by Jun '26,TransactionNew Property,FurnishingUnfurnished,SocietyRiverdale Grove,Bathroom2,₹90 Lac
2,"4 BHK Flat for Sale in The Strand, Kharadi, Pune",1566 sqft,Under ConstructionPoss. by Dec '26,TransactionNew Property,FurnishingSemi-Furnished,SocietyThe Strand,Bathroom4,₹2.02 Cr
3,"2 BHK Flat for Sale in Majestique Marbella, Kh...",810 sqft,Under ConstructionPoss. by Dec '26,TransactionNew Property,FurnishingUnfurnished,SocietyMajestique Marbella,Bathroom2,₹1.05 Cr
4,"2 BHK Flat for Sale in Pristine Allure, Kharad...",753 sqft,Under ConstructionPoss. by Dec '25,TransactionNew Property,FurnishingUnfurnished,SocietyPristine Allure,Bathroom2,₹87.4 Lac
5,"3 BHK Flat for Sale in Marvel Zephyr, Kharadi,...",2200 sqft,StatusReady to Move,TransactionResale,FurnishingFurnished,SocietyMarvel Zephyr,Bathroom3,₹3.50 Cr
6,"2 BHK Flat for Sale in Majestique Marbella, Kh...",824 sqft,Under ConstructionPoss. by Dec '25,TransactionNew Property,FurnishingUnfurnished,SocietyMajestique Marbella,Bathroom2,₹90 Lac
7,"2 BHK Flat for Sale in Riverdale Grove, Kharad...",652 sqft,Under ConstructionPoss. by Dec '26,TransactionNew Property,FurnishingUnfurnished,SocietyRiverdale Grove,Bathroom2,₹77 Lac
8,2 BHK Flat for Sale in Flamante By VTP Luxe Ph...,1029 sqft,Under ConstructionPoss. by Jun '27,TransactionNew Property,FurnishingUnfurnished,SocietyFlamante By VTP Luxe Phase 1,Bathroom2,₹78 Lac
9,"2 BHK Flat for Sale in VTP Dolce Vita, Kharadi...",1087 sqft,Under ConstructionPoss. by Dec '27,TransactionNew Property,FurnishingUnfurnished,SocietyVTP Dolce Vita,Bathroom2,₹79 Lac

In [8]:
df.to_csv('housedatasets.csv')